body {
    background-image: url(../Imágenes/Fondo\ web.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    background-color: #1E3A8A;
    display: block;
    border: 2px solid #FF6A13;
    padding: 1%;
    margin: 3% auto;
    border-radius: 5%;
    width: 60%;
    box-shadow: 0px 0px 50px black;
}

.caja:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #FF6A13;
    transition: all 0.5s ease;
}

.h1 {
    color: #FF6A13;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
    width: 100%;
    margin: 0 auto; 
    padding: 10px; 
}


.menu_item {
    display: flex;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1%;
    background-color: #FF6A13;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 5px black;
}

.menu_item:hover {
    background-color: #FFC107;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #FFC107;
}

.caja-indice {
    background-color: #FF6A13;
    width: 12%;
    border-radius: 5%;
    margin-left: 2%;
    color: white;
    position: fixed;
    text-align: center;
    box-shadow: 0px 0px 30px white;
    font-size: 130%;
}

.caja-indice:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    background-color: #FFC107;
    box-shadow: 0px 0px 30px white;
}

.a{
    text-decoration: none;
    color: #ffffff; 
    text-align: left;
}

.a:hover {
    color: #00BFFF; 
    text-decoration: underline; 
}

#inicio {
    color: #FF6A13;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}

#intro {
    color: #FF6A13;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}

#nube {
    color: #FF6A13;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}

.div-baston {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#baston {
    color: #FF6A13;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}

.img-baston {
    width: 30%;
    margin: 1%;
    height: 50%;
    border: none;
    border-radius: 5%;
}

.img-baston:hover {
    transform: scale(1.5);
    transition: all 0.5s ;
    margin: 4%;
    box-shadow: 0px 0px 50px black;
}

#sabias-que {
    color: #FF6A13;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}

.caja-redes {
    background-color: #FF6A13;
    width: 10%;
    border-radius: 5%;
    margin-left:85%;
    color: white;
    position: fixed;
    text-align: center;
    box-shadow: 0px 0px 30px white;
    padding: 1%;
    display: grid;
    font-size: 150%;
}

.caja-redes:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #FFC107;
    box-shadow: 0px 0px 30px white;
}

.imagen-redes {
    width: 30%;
    height: auto;
    vertical-align: middle;
}

.clear {
    clear: both;
}

p {
    border: 5px;
    color: white;
}

.esfera {
    position: fixed;
    top: 1%;
    width: 120px;
    height: 100px;
    right: 0px;
}

.logo-DragonBall {
    position: fixed;
    top: 1%;
    width: 5%;
    height: auto;
    left: 0px;
    padding: 1%;
}

marquee {
    color: rgb(254, 255, 255);
}

audio {
    width: 100%;
    max-width: 15%; 
    display: block;
    position: fixed;
    right: 1%;
    bottom: 23%;
}

.mapa {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    margin: auto;
    border-radius: 100px;
    width: 80%;
    background-color: #FF6A13;
    font-size: 30px;
}

iframe {
    display: block;
    margin: 2% auto;
    width: 50%;
    height: 500px;
    border-radius: 5%;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 50px rgb(238, 238, 238);
}

.div-sabias-que {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes-sabias-que {
    width: 30%; 
    height: 200px; 
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;   
}

.imagenes-sabias-que:hover {
    transform: scale(2.5);
}

.div-nube-voladora {
    display: flex;
    justify-content: center;
}

.img-nube-voladora {
    width: 50%;
    border-radius: 50px;
}

.img-nube-voladora:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    margin: 2%;
    transition: all 0.5s;
}

.fragmento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px red;
}

form, li {
    color: white;
    text-align: left;
}

ul, ol {
    list-style-position: inside;
}

.enlaces {
    color: #FF6A13;
}

table {
   display: none;
}

.contador {
    position: absolute;
    top: 80%;
    right: 3.9%;
    margin: 10px;
    display: block;
    position: fixed;
    background-color: #FF6A13;
    padding: 10px;
    border-radius: 5px;
}

.contador:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    background-color: #FFC107;
    box-shadow: 0px 0px 30px white;
}

.visitas {
    color: white;
    text-align: center;
}

/* CSS para móviles */

@media (max-width: 768px) {

    body {
        position: relative;
    }

    .caja {
        width: 80%;
        margin: 10% auto;
        padding: 3%;
    }

    .caja:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 50px #FF6A13;
        transition: all 0.5s ease;
    }

    .caja-indice {
        background-color: #FF6A13;
        width: 65%;
        border-radius: 5%;
        margin-left: 15%;
        color: white;
        text-align: center;
        box-shadow: 0px 0px 30px white;
        position: relative;
        padding: 1%;
        margin-top: 10%;
    }

    .caja-indice:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        background-color: #FFC107;
        box-shadow: 0px 0px 30px white;
    }

    iframe {
        width: 70%;
        height: 250%;
        transition: all 0.5s ease;
    }

    table {
        font-size: 14px;
    }

    .menu_item {
        margin-right: 5px;
        padding: 5px;
        font-size: 14px;
    }
    
    #anime {
        font-size: 18px;
    }

    .esfera {
       display: none;
    }

    .logo-DragonBall {
        width: 80px;
        height: auto;
    }
    
    .imagenes-sabias-que {
        width: 30%; 
        height: 50px; 
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.5s;   
    }
    
    .imagenes-sabias-que:hover {
        transform: scale(1.5);
    }
    
    .logo-DragonBall {
        display: none;
    }

    .caja-redes {
        display: none; 
    }

    table {
        display: block;
        border-radius: 100px;
        width: 70%;
    }
    
    .Discord_logo {
        width: 50px;
        height: auto;
    }
    
    .Twitch_logo {
        width: 50px;
        height: auto;
    }

    audio {
        width: 70%;
        max-width: 350px; 
        display: block;
        margin: 10px auto;
        top: 80%;
        position: static;
    }

    .contador {
        display: none;
    }
       .contador {
        display: none;
    }
}
