@font-face {
    font-family: 'SaiyanSans';
    src: url(../Fuentes/Saiyan-Sans.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 12px;
    background: #FF6A13;
  }

  ::-webkit-scrollbar-thumb {
    background: #FFC107;
    border-radius: 10px; 
}

body {
    background-image: url(../Imágenes/Fondo\ web.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden; /* Oculta la barra inferior. */
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    background-color: #1E3A8A;
    display: block;
    border: 2px solid #FF6A13;
    padding: 1%;
    margin: 3% auto;
    border-radius: 5%;
    width: 60%;
    box-shadow: 0px 0px 50px black;
}

.caja:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #FF6A13;
    transition: all 0.5s ease;
}

.caja-advertencia {
   display: none;
}

.titulo-advertencia {
    display: none;
}

h1 {
    color: #ffffff;
    font-size: 150%;
    text-align: center;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: 'SaiyanSans', sans-serif;
    font-weight: 400;
    font-style: italic ;
}

h2 {
    color: #1bf807 ;
    font-size: 150%;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: 'SaiyanSans', sans-serif;
    font-weight: 400;
    font-style: italic ;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
    width: 100%;
    margin: 0 auto; 
    padding: 10px; 
}


.menu_item {
    display: flex;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1%;
    background-color: #FF6A13;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 5px black;
}

.menu_item:hover {
    background-color: #FFC107;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #FFC107;
}

.caja-indice {
    background-color: #FF6A13;
    width: 13%;
    border-radius: 5%;
    margin-left: 1.7%;
    color: white;
    position: fixed;
    text-align: center;
    box-shadow: 0px 0px 30px white;
    font-size: 120%;
}

.caja-indice:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    background-color: #FFC107;
    box-shadow: 0px 0px 30px white;
}

.a{
    text-decoration: none;
    color: #ffffff; 
    text-align: left;
    font-size: 90%;
}

.a:hover {
    color: #00BFFF; 
    text-decoration: underline; 
}

.enlaces{
    text-decoration: none;
    color: #FF6A13; 
    text-align: left;
    font-size: 90%;
}

.enlaces:hover {
    color: #FFC107; 
    text-decoration: underline; 
}


#inicio {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
}

#intro {
    color: #FF6A13;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
}

#nube {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
    font-size: 300%;
}

.div-baston {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#baston {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
}

.img-baston {
    width: 30%;
    margin: 1%;
    height: 50%;
    border: none;
    border-radius: 5%;
}

.img-baston:hover {
    transform: scale(1.5);
    transition: all 0.5s ;
    margin: 4%;
    box-shadow: 0px 0px 50px black;
}

#radar {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
}

.div-radar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-radar {
    width: 30%;
    margin: 1%;
    height: 50%;
    border: none;
    border-radius: 5%;
}

.img-radar:hover {
    transform: scale(1.3);
    transition: all 0.5s ;
    margin: 4%;
    box-shadow: 0px 0px 50px black;
}

.div-semillas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#semillas {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
}

.img-semillas {
    width: 30%;
    margin: 3%;
}

.img-semillas:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    padding: 1%;
}

#agua-supersagrada {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
}

.div-agua-supersagrada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-agua-supersagrada {
    width: 15%;
}

.img-agua-supersagrada:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

#agua-inmortalidad {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
}

.div-inmortalidad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-hierbas {
    width: 50%;
    border: none;
    border-radius: 5%;
    margin: 2%;
}

.img-hierbas:hover {
    transform: scale(1.3);
    transition: all 0.3s;
    box-shadow: 0px 0px 30px black;
    margin: 5%;
}

#agua-ultrasagrada {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
}

.div-agua-ultrasagrada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-agua-ultrasagrada {
    width: 15%;
}

.img-agua-ultrasagrada:hover {
    transform: scale(1.3);
    transition: all 0.3s;
}

#pendientes-potara {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
}

.div-pendientes-potara {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.img-pendientes-potara {
    width: 30%;
    border: none;
    border-radius: 5%;
    margin: 2%;
}

.img-pendientes-potara:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    box-shadow: 0px 0px 50px black;
}

#anillos {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic;
}

.div-anillos-del-tiempo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-anillos-del-poder {
    width: 30%;
    border: none;
    border-radius: 5%;
    margin: 2%;
}

.img-anillos-del-poder:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    box-shadow: 0px 0px 50px black; 
}

#videojuegos {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic;
}

.img-shenron-no-nazo {
    width: 20%;
    border: none;
    border-radius: 5%;
    float: right;
    margin-top: -12%;
    margin-right: 15%;
}

.img-shenron-no-nazo:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    box-shadow: 0px 0px 30px black;
}

.img-buttoden {
    width: 20%;
    border: none;
    border-radius: 5%;
    float: right;
    margin-top: -20%;
    margin-right: 15%;
}

.img-buttoden:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    box-shadow: 0px 0px 30px black;
}

.img-Tenkaichi_3 {
    width: 20%;
    border: none;
    border-radius: 5%;
    float: right;
    margin-top: -35%;
    margin-right: 15%;
}

.img-Tenkaichi_3:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    box-shadow: 0px 0px 30px black;
}

.img-Xenoverse {
    width: 17%;
    border: none;
    border-radius: 5%;
    float: right;
    margin-top: -25%;
    margin-right: 16.4%;
}

.img-Xenoverse:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    box-shadow: 0px 0px 30px black;
}

.img-sparking-zero {
    width: 17%;
    border: none;
    border-radius: 5%;
    float: right;
    margin-top: -11%;
    margin-right: 16.4%;
}

.img-sparking-zero:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    box-shadow: 0px 0px 30px black;
}

#sabias-que {
    color: #FF6A13;
    font-family: 'SaiyanSans', sans-serif;
    font-size: 300%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-weight: 400;
    font-style: italic ;
}

.div-sabias-que {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes-sabias-que {
    width: 30%; 
    height: 200px; 
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;   
}

.imagenes-sabias-que:hover {
    transform: scale(2.5);
}

.caja-redes {
    background-color: #FF6A13;
    width: 10%;
    border-radius: 5%;
    margin-left:85%;
    color: white;
    position: fixed;
    text-align: center;
    box-shadow: 0px 0px 30px white;
    padding: 1%;
    display: grid;
    font-size: 150%;
}

.caja-redes:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #FFC107;
    box-shadow: 0px 0px 30px white;
}

.imagen-redes {
    width: 30%;
    height: auto;
    vertical-align: middle;
}

.clear {
    clear: both;
}

p {
    color: white;
}

.esfera {
    position: fixed;
    top: 1%;
    width: 120px;
    height: 100px;
    right: 0px;
}

.logo-DragonBall {
    position: fixed;
    top: 1%;
    width: 5%;
    height: auto;
    left: 0px;
    padding: 1%;
}

marquee {
    color: rgb(255, 251, 7);
    background-color: black;
    animation: moverFondo 5s linear infinite;
    padding: 10px;
    font-size: 20px;
    margin: -5%;
}

audio {
    width: 100%;
    max-width: 15%; 
    display: block;
    position: fixed;
    right: 1%;
    bottom: 23%;
}

.mapa {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    margin: auto;
    border-radius: 100px;
    width: 80%;
    background-color: #FF6A13;
    font-size: 30px;
}

iframe {
    display: block;
    margin: 2% auto;
    width: 50%;
    height: 500px;
    border-radius: 5%;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 50px rgb(238, 238, 238);
}

.div-nube-voladora {
    display: flex;
    justify-content: center;
}

.img-nube-voladora {
    width: 50%;
    border-radius: 50px;
}

.img-nube-voladora:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    margin: 2%;
    transition: all 0.5s;
}

.fragmento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px red;
}

form, li {
    color: white;
    text-align: left;
}

ul, ol {
    list-style-position: inside;
}

table {
   display: none;
}

.contador {
    position: absolute;
    top: 80%;
    right: 3.9%;
    margin: 10px;
    display: block;
    position: fixed;
    background-color: #FF6A13;
    padding: 10px;
    border-radius: 5px;
}

.contador:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    background-color: #FFC107;
    box-shadow: 0px 0px 30px white;
}

.visitas {
    color: white;
    text-align: center;
}

/* CSS para móviles */

@media (max-width: 768px) {

    body {
        position: relative;
        font-size: 10px;
    }

    .caja-advertencia {
        background-color: #1E3A8A;
        display: block;
        border: 2px solid #FF6A13;
        padding: 1%;
        margin: 3% auto;
        border-radius: 5%;
        width: 60%;
        box-shadow: 0px 0px 50px black;
        text-align: center;
    }
    
    .titulo-advertencia {
        color: #FFC107;
        font-size: 250%;
        text-align: center;
        border: 5px;
        display: block;
        text-shadow: 5px 5px 5px black;
        font-family: 'SaiyanSans', sans-serif;
        font-weight: 400;
        font-style: italic ;
    }

    .p-advertencia {
        color: #ff10c3
    }

    .caja {
        width: 80%;
        margin: 10% auto;
        padding: 3%;
    }

    .caja:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 50px #FF6A13;
        transition: all 0.5s ease;
    }

    .caja-indice {
        background-color: #FF6A13;
        width: 65%;
        border-radius: 5%;
        margin-left: 15%;
        color: white;
        text-align: center;
        box-shadow: 0px 0px 30px white;
        position: relative;
        padding: 1%;
        margin-top: 10%;
    }

    .caja-indice:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        background-color: #FFC107;
        box-shadow: 0px 0px 30px white;
    }

    iframe {
        width: 70%;
        height: 250%;
        transition: all 0.5s ease;
    }

    table {
        font-size: 14px;
    }

    .menu_item {
        margin-right: 5px;
        padding: 5px;
        font-size: 14px;
    }
    
    #anime {
        font-size: 18px;
    }

    .esfera {
       display: none;
    }

    .logo-DragonBall {
        width: 80px;
        height: auto;
    }
    
    .imagenes-sabias-que {
        width: 30%; 
        height: 50px; 
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.5s;   
    }
    
    .imagenes-sabias-que:hover {
        transform: scale(1.5);
    }
    
    .logo-DragonBall {
        display: none;
    }

    .caja-redes {
        display: none; 
    }

    .li-videojuegos {
        font-size: 8.3px;
      
        margin-left: -35px;
    }
    
    .img-shenron-no-nazo {
        display: none;
    }
   
    .img-buttoden {
        display: none;
    }
    
    .img-Tenkaichi_3 {
        display: none;
    }
    
    .img-Xenoverse {
        display: none;
    }
    
    .img-sparking-zero {
        display: none;
    }
    
    table {
        display: block;
        border-radius: 100px;
        width: 70%;
    }
    
    .Discord_logo {
        width: 50px;
        height: auto;
    }
    
    .Twitch_logo {
        width: 50px;
        height: auto;
    }

    audio {
        width: 70%;
        max-width: 350px; 
        display: block;
        margin: 10px auto;
        top: 80%;
        position: static;
    }

    .contador {
        display: none;
    }
}