body {
    background-color: #000000ab;
    background-image: url(../Imágenes/Fondo\ web.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    background-color: #1E3A8A;
    border: 2px solid #FF6A13;
    padding: 2%;
    margin: 3% auto;
    border-radius: 5%;
    width: 60%;
    max-width: 90%;
    box-shadow: 0px 0px 50px black;
    justify-content: center;
}

.caja:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #FF6A13;
    transition: all 0.5s ease;
}

#anime {
    color: #FF6A13;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px;
    display: block;
    text-shadow: 5px 5px 5px black;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
    width: 100%;
    margin: 0 auto; 
    padding: 10px; 
}


.menu_item {
    display: flex;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1%;
    background-color: #FF6A13;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 5px black;
}

.menu_item:hover {
    background-color: #FFD700;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #FFD700;
}

.clear {
    clear: both;
}

p {
    border: 5px;
    color: white;
}

marquee {
    color:black;
}

.esfera {
    position: fixed;
    top: 1%;
    width: 120px;
    height: 100px;
    right: 0px;
}

.logo-DragonBall {
    position: fixed;
    top: 1%;
    width: 90px;
    left: 0px;
}

marquee {
    color: rgb(254, 255, 255);
}

audio {
    width: 100%;
    max-width: 350px; 
    display: block;
    margin: 10px auto;
}

.mapa {
    display: flex;
    justify-content: center;
}

h3 {
    color: black;
    text-align: center;
}

table {
    text-align: center;
    margin: auto;
    border-radius: 100px;
    width: 80%;
    background-color: #FF6A13;
    font-size: 30px;
}

iframe {
    display: block;
    margin: auto;
    width: 50%;
    height: 500px;
    border-radius: 5%;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 50px rgb(238, 238, 238);

}

.fragmento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px red;
}

.Twitch_logo {
    width: 50px;
    height: auto;
}

.Discord_logo {
    width: 50px;
    height: auto;
}

.enviar:hover {
    background-color: #FF6A13;
    right: 0px;
    transform: scale(1.5);
}

.redes:active {
    background-color: pink;
}

form, li {
    color: white;
}

ul, ol {
    list-style-position: inside;
}

/* CSS para móviles */

@media (max-width: 768px) {
    .caja {
        width: 90%;
        margin: 5% auto;
        padding: 4%;
    }

    iframe {
        width: 90%;
        height: 250px;
    }

    table {
        font-size: 18px;
    }

    .menu_item {
        margin-right: 2px;
        padding: 1px;
        font-size: 16px;
    }
    
    #anime {
        font-size: 20px;
    }

    .esfera {
        width: 100px;
        height: 80px;
    }
}